
<h1 id={{ roomName }} class="chatRoomTitle"> Chatroom: {{ roomName }} </h1>
<div>
    <div>
        <form action="/createMessage" method="POST" id="messageForm">
            <input type="text" name="text_body" id="nickNameField">
            <input type="hidden" name="chatroom_name" value={{ roomName }} />
            <input type="hidden" name="nickname" id="nicknameField"/>
            <button type="button" value="Submit" id="submitButton" onclick="submitForm()">Send Message</button>
        </form>
    </div>

    <div id="message-container">
        {{#if isAvailable}}
        <ul id="messageList" class="messageList">
            {{#each messages}}
                <li id={{this._id}}> 
                    <ul>
                        <li class="chatMessage"><h1>{{this.nickname}}</h1> <h2>({{this.created_at}})</h2><p>: {{this.text_body}}</p></li>
                    </ul>
                </li>
            {{/each}}
        </ul>
        {{/if}}
    </div>
</div>

<script>
    // TODO: Need to set HTML class types
    while(true) {
        var nickname = prompt("Enter your nickname")

        if (nickname && !(nickname.trim() === "") ) {
            document.cookie = `nickname=${nickname}`
            break
        } else {
            alert('Please enter a nickname')
        }
    }
    var rName = document.getElementsByTagName('h1')[0].id
    intervalID = window.setInterval(function(){
    fetch(`http://localhost:8080/getMessages`)
    .then(function (items) {
            items.json()
            .then((jsonResponse) => {
                console.log(jsonResponse)
                /*
                chatroom_name: "a"
                created_at: "2021-05-22T17:56:18.196Z"
                nickname: "test"
                text_body: "THIS IS A TEST MSG"
                _id: "60a944e0a3beafbc43944c53"
                */

                let messageList = document.getElementById('messageList')
                let messageListChildren = messageList.children
                let messageSet = {}

                // Adding all currently displayed messages to a set
                for (let i = 0; i < messageListChildren.length; ++i) {
                    messageSet[messageListChildren[i].id] = true;
                }

                console.log(messageListChildren)
                console.log(messageSet);

                for (let i = 0; i < jsonResponse.length; ++i) {
                    // If the chatrooms in JSON are NOT in the set
                    if (!(jsonResponse[i]._id in messageSet) && jsonResponse[i].chatroom_name === rName) {
                        let chatMessageHeader = document.createElement('li');
                        let chatMessageInnerList = document.createElement('ul')
                        let chatMessageBodyText = document.createElement('li')
                        // Set up the header for the chat message header
                        chatMessageHeader.id = jsonResponse[i]._id

                        // Set up the chat message body and append to the inner list
                        chatMessageBodyText.className = "chatMessage"
                        chatMessageBodyText.innerHTML = `<h1>${jsonResponse[i].nickname}</h1> <h2>(${jsonResponse[i].created_at})</h2><p>: ${jsonResponse[i].text_body}</p>`
                        chatMessageInnerList.appendChild(chatMessageBodyText)
                        chatMessageHeader.appendChild(chatMessageInnerList)

                        // Append the whole chat item to the message box
                        messageList.appendChild(chatMessageHeader)
                        console.log(`new chat added to message list`)
                    }
                }
            })
            .catch((err) => { console.log(err) })

            })
    .catch((err) => { console.log(err) })
    }, 3000);

    // Resets the form after user submits the name of the chatroom they want to create
    function submitForm() {
        // TODO: Consider validation here using getbyId with chatlist and its children
        var form = document.getElementById('messageForm')
        document.getElementById('nicknameField').value = document.cookie.split('=')[1]
        form.submit()
        form.reset()
        return false;
    }
</script>
